// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

$sans: "freight-sans-pro", sans-serif;
$serif: "chaparral-pro", serif;
$mono: monospace;
$heading-font-family: $sans, serif;

//title
$header-title-font-family: "skolar", serif;

//subtitle
$header-subtitle-font-family: $serif;

//$heading-font-family

